.DARK {
     --main-bg-color: rgba(3, 19, 42, 0.9);
     --quiz-wrapper-bg-color: rgb(48, 48, 51);
     --text-color: white;
}
.DARK label {
     background: var(--quiz-wrapper-bg-color) !important;
}
.LIGHT {
     --main-bg-color: rgba(159, 159, 158, 0.3);
     --quiz-wrapper-bg-color: white;
     --text-color: black;
}
.layout {
     display: flex;
     width: 100%;
     height: 100%;
     min-height: 100vh;
     align-items: center;
     justify-content: center;
     background: var(--main-bg-color);
     background-size: 100% 100%;
     font-family: "Lato", sans-serif;
     font-weight: 300;
}
.changeTheme {
     position: absolute;
     z-index: 10;
     border-radius: 50px;
     border: none;
     padding: 10px;
     display: flex;
     align-items: center;
     justify-content: center;
     top: 10px;
     left: 50%;
     transform: translate(-50%);
     cursor: pointer;
}
.DARK .changeTheme {
     background-color: rgba(38, 119, 151, 0.4);
}
.LIGHT .changeTheme {
     background-color: rgba(104, 102, 102, 0.4);
}
.changeTheme svg {
     fill: white;
}
.changeTheme:active {
     background-color: rgba(71, 65, 133, 0.6);
}
